@tailwind base;

@layer base {
  h1 {
    @apply text-4xl font-bold lg:text-6xl;
  }
  h2 {
    @apply text-3xl font-bold lg:text-5xl;
  }
  h3 {
    @apply text-xl font-bold lg:text-4xl;
  }
  h4 {
    @apply text-lg font-bold lg:text-2xl;
  }
  h5 {
    @apply font-bold lg:text-lg;
  }
}

@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  overflow-x: hidden !important;
}

a {
  color: inherit;
  text-decoration: none;
}

main a {
  @apply text-brand-green hover:underline;
}

a,
button {
  cursor: pointer;
}

.container {
  @apply mx-auto;
}

.container-sm {
  @apply mx-auto w-full max-w-6xl px-4;
}
